<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <h3>{{title}}</h3>
            <a href="/" class="navbar-brand" style="width: 300px;">Home</a>
            <a href="/help" class="navbar-brand" style="width: 300px;">help</a>
            <a href="/about" class="navbar-brand" style="width: 300px;">about</a>
        </div>
    </nav>
</header>